.mt-1{
    margin-top: 2%;
}
.mt-2{
    margin-top: 4%;
}
.mt-3{
    margin-top: 6%;
}
.mt-4{
    margin-top: 8%;
}
.mt-5{
    margin-top: 10%;
}

.custom-spin{
    margin-right: -31px;
    margin-top: 12px;
}

.wait-text{
    display: none;
}

.cron-url{
    padding: 10px;
}

.page-title-action{
    top: 1px !important;
}

.log-spin{
    float: left !important;
}

.delete-log-order{
    border: 1px solid #ff0000 !important;
    color: #ff0000 !important;
    background: #fffcfc !important;
}